---
import Container from "@components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import NewsLetter from "@components/NewsLetter.astro";
import { getCollection } from "astro:content";
import MarkdownRender from "@components/MarkdownRender.astro";

export const getStaticPaths = async () => {
    const reports = await getCollection("reports");
    return reports.map((report) => ({
        params: { slug: report.slug },
        props: { report },
    }));
};

const { report } = Astro.props;
---

<Layout title="MOSTAVIO - News and Updates">
    <main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
        <article
            id="news"
            class="relative overflow-hidden scroll-mt-24 bg-gradient-default mx-5"
        >
            <div class="prose lg:prose-xl">
                {
                    report && (
                        <div class="prose lg:prose-xl">
                            <MarkdownRender entry={report} />
                        </div>
                    )
                }
            </div>
            <NewsLetter />
        </article>
    </main>
</Layout>
