---
import Layout from "../layouts/Layout.astro";

import DesignSwiperBlock from "@components/molecules/DesignSwiperBlock.astro";
import FocusText from "@components/molecules/FocusText.astro";
import PaintedImage from "@components/atoms/PaintedImage.astro";
import AircraftSection from "@components/AircraftSection.astro";
import ParallaxSlider from "@components/molecules/ParallaxSlider.astro";
import AwardsCTA from "@components/molecules/AwardsCTA.astro";

// Media v2
import MostavioEvtols from "../assets/v2/aircrafts/MostavioEvtols.png";

import Slide1 from "../assets/v2/aircrafts/slider/Slide1.png";
import Slide2 from "../assets/v2/aircrafts/slider/Slide2.png";
import Slide3 from "../assets/v2/aircrafts/slider/Slide3.png";
import Slide4 from "../assets/v2/aircrafts/slider/Slide4.png";
import SlideA from "../assets/v2/aircrafts/slider/SlideA.png";

// awards images
import MuseAward from "../assets/v2/timeline/MuseAward.png";
import RedDotLogo from "../assets/v2/timeline/RedDot.png";
import GoAeroAward from "../assets/v2/home/goAEROaward.png";
---

<Layout>
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<PaintedImage
			content={{
				tagline: "OUR EVTOL MODELS",
				header: "Commercial Solutions For <br> Modern Air Mobility",
			}}
			image={MostavioEvtols}
			contentClass="top-1/4 text-left md:text-center"
			imageClass="object-bottom"
			alt="MOSTAVIO THE MX1 and ULTRALIGHT banner"
		/>
		<AircraftSection
			id="mx1"
			tagline="Introducing the Prototype"
			headline="THE MX1"
			description="MX1 is the foundation of our journey at Mostavio,\
			 a one-passenger prototype built to pave the way for a smarter,\
			 cleaner, and safer future in city flight. It's the starting point\
			 for our upcoming 2-3 passenger eVTOL, equipped with AI-powered navigation,\
			 real-time obstacle avoidance, and robust safety architecture."
			images={[
				{ src: Slide1, alt: "MX1 Design Image" },
				{ src: Slide2, alt: "MX1 Tail and CNC Machine" },
				{ src: Slide3, alt: "MX1 Design and Battery pack" },
				{ src: Slide4, alt: "MX1 top view and Production" },
			]}
			stats={{
				drone: "10",
				car: "38",
				bus: "47",
			}}
		>
			<AwardsCTA
				slot="awards"
				awardImages={[
					{
						src: RedDotLogo,
						name: "Red Dot Award",
					},
					{
						src: MuseAward,
						name: "Muse Award",
					},
				]}
				content={{
					header: "Award-Winning Design",
					description:
						"Recognized by global design institutions, Mostavio stands among the world’s most forward-thinking mobility pioneers.",
				}}
				link="/news/mostavio-wins-muse-design-award"
			/>
		</AircraftSection>

		<AircraftSection
			id="aeroguardian"
			tagline="Built for Critical Missions"
			headline="AEROGUARDIAN"
			description="Designed for emergency response and rapid intervention.\
			 As a GOAERO Stage 1 Winner, Aeroguardian is built to meet the demands\
			 of high-stakes scenarios. With the ability to carry up to 160 kg, it\
			 ensures fast and safe transport of patients, organs, and life-saving\
			 supplies from remote or high-risk zones."
			images={[
				{ src: SlideA, alt: "Aeroguardian Design Image" },
				{ src: Slide2, alt: "Mostavio Tail and CNC Machine" },
				{ src: Slide3, alt: "Mostavio Design and Battery pack" },
				{ src: Slide4, alt: "Mostavio top view and Production" },
			]}
			stats={{
				drone: "10",
				car: "38",
				bus: "47",
			}}
		>
			<AwardsCTA
				slot="awards"
				awardImages={[
					{
						src: GoAeroAward,
						name: "GoAero Award",
					},
				]}
				content={{
					header: "Pioneering Emergency Mobility",
					description:
						"Chosen as a Stage 1 winner from over 100 teams in a NASA-supported global challenge.",
				}}
				link="/news/stage-1-victory-goaero/"
			/>
		</AircraftSection>

		<AircraftSection
			id="ultralight"
			tagline="Personal Flight for Rural Exploration"
			headline="ULTRALIGHT"
			description="MOSTAVIO's Ultralight is a single passenger eVTOL designed for\
			 personal recreational use in rural environments. With a lightweight frame\
			 compliant with FAA Part 103 and Transport Canada ultralight standards, it offers\
			 a safe and simple solution for off-grid flight. Perfect for scenic flights and\
			 off-grid adventures."
			comingSoon={true}
		/>
		<FocusText
			header="REVOLUTIONARY DESIGN"
			description="All MOSTAVIO eVTOL models feature a bold, angular design that merges innovative aesthetics with aerodynamic efficiency."
			headerShadow={true}
			contentClass="text-left"
		/>
		<DesignSwiperBlock />
		<ParallaxSlider />
	</main>
</Layout>
