---
import Layout from "../layouts/Layout.astro";
import HeroCarousal from "@components/HeroCarousal.astro";

// Media
// import slide01 from "../assets/evtol_img/HeroBg4.png";
import companyBanner from "../assets/evtol_img/company-banner.jpg";
import Newsletter from "@components/NewsLetter.astro";
import FocusText from "@components/FocusText.astro";
import Carousel from "@components/Carousel.astro";
import FeatureGrid from "@components/FeatureGrid.astro";
import JobListing from "@components/JobListing.astro";

let media: Array<string | ImageMetadata> = [companyBanner];
let bannerContent = {
	header: "Pioneering the Future of Urban Air Mobility",
	description: "",
};

let focusText = {
	// header: "Transforming Urban Air Mobility with Next-Generation eVTOL Technology",
	description:
		"MOSTAVIO is at the forefront of the eVTOL revolution, committed to transforming urban transportation \
		with cutting-edge technology and sustainable practices. Founded in 2024 in Toronto, our mission is to redefine personal air travel, making it safer, faster, and more efficient.",
};
let focusText2 = {
	description:
		"MOSTAVIO collaborates with leading investors, government agencies, and top-tier suppliers to advance our mission. Our strategic partnerships ensure we have the resources and \
		expertise needed to bring our vision to life.",
};

let featureContent = [
	{
		header: "15+",
		headerClass: "text-5xl mb-8",
		description: "Year of operation in the automotive industry",
	},
	{
		header: "40+",
		headerClass: "text-5xl mb-8",
		description: "Total employees across industries and backgrounds",
	},
	{
		header: "1,000+",
		headerClass: "text-5xl mb-8",
		description: "Automotive related projects completed",
	},
];

let jobList = [
	{
		title: "Senior Software Engineer",
		location: "Toronto, ON",
		team: "Engineering",
		description:
			"We are looking for a Senior Software Engineer to join our team and help us build the future of urban air mobility.",
	},
	{
		title: "Aerospace Engineer",
		location: "Toronto, ON",
		team: "Engineering",
		description:
			"We are seeking an Aerospace Engineer to help us design and develop our eVTOL aircraft.",
	},
	{
		title: "Marketing Manager",
		location: "Toronto, ON",
		team: "Marketing",
		description:
			"We are looking for a Marketing Manager to help us promote our brand and products.",
	},
];
---

<Layout>
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroCarousal media={media} content={bannerContent} />
		<div class="pt-3" id="about"></div>
		<FocusText {...focusText} />
		<Carousel />
		<FeatureGrid content={featureContent} bordered />
		<FocusText {...focusText2} />
		<Carousel />
		<JobListing content={jobList} />
		<Newsletter />
	</main>
</Layout>
