---
import Layout from "../layouts/Layout.astro";
import HeroCarousal from "@components/molecules/HeroCarousal.astro";

// Media
// import slide01 from "../assets/evtol_img/HeroBg4.png";
import companyBanner from "../assets/hero_media/company-banner.jpg";
import Newsletter from "@components/NewsLetter.astro";
import FocusText from "@components/molecules/FocusText.astro";
import Carousel from "@components/molecules/Carousel.astro";
import FeatureGrid from "@components/molecules/FeatureGrid.astro";
import JobListing from "@components/JobListing.astro";
import OurTeam from "@components/OurTeam.astro";
import DynamicTimeline from "@components/DynamicTimeline.astro";

import splitImageA from "../assets/evtol-split-carousel/a.jpg";
import splitImageB from "../assets/evtol-split-carousel/b.jpg";
import splitImageC from "../assets/evtol-split-carousel/c.jpg";

import {
	focusText,
	focusText2,
	featureContent,
	jobList,
	bannerContent,
} from "../content/company";

let media: Array<string | ImageMetadata> = [companyBanner];
---

<Layout>
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroCarousal media={media} content={bannerContent} />
		<div class="pt-3" id="about"></div>
		<FocusText {...focusText} />
		<Carousel images={[splitImageA, splitImageB, splitImageC]} />
		<FeatureGrid content={featureContent} bordered />
		<FocusText {...focusText2} />
		<!-- <Carousel /> -->
		<DynamicTimeline />
		<OurTeam />
		<JobListing content={jobList} />
		<Newsletter />
	</main>
</Layout>
