---
import Layout from "../layouts/Layout.astro";
import HeroCarousal from "@components/HeroCarousal.astro";
import Posts from "@components/Posts.astro";
import { getCollection } from "astro:content";

// Media
import Newsletter from "@components/NewsLetter.astro";

// import HeroBg from "../assets/evtol_img/HeroBg3.png";
import motorPropeller from "../assets/evtol_img/propeller-focus.jpg";

let media: Array<string | ImageMetadata> = [motorPropeller];
let bannerContent = {
	header: "Latest News and Updates",
	description: "",
};

const posts = await getCollection("posts");
const sortedPosts = posts.sort((a, b) => {
	const dateA = new Date(a.data.date);
	const dateB = new Date(b.data.date);
	return dateB.getTime() - dateA.getTime(); // newest first
});
console.log(posts);
---

<Layout>
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} content={bannerContent} />
		<Posts posts={sortedPosts} />
		<Newsletter />
	</main>
</Layout>
