---
import Layout from "../layouts/Layout.astro";
import HeroCarousal from "@components/HeroCarousal.astro";
import Posts from "@components/Posts.astro";
import { getCollection } from "astro:content";

// Media
import slide01 from "../assets/hero_media/image_32.png";
import Newsletter from "@components/NewsLetter.astro";

let media: Array<string | ImageMetadata> = [slide01];
let bannerContent = {
	header: "Latest News and Updates",
	description: "",
};

const posts = await getCollection("posts");
---

<Layout title="Welcome to MOSTAVIO.">
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} content={bannerContent} />
		<Posts posts={posts} />
		<Newsletter />
	</main>
</Layout>
