---
const items = [
  { id: 1, text: "Type Certification (In Progress)" },
  { id: 2, text: "Air Carrier & Operator Certification (Part 135)" },
  { id: 3, text: "Maintenance & Repair Certification (Part 145)" },
  { id: 4, text: "Production Certification" },
  { id: 5, text: "Continuous Compliance and Improvement" },
];
---

<div class="my-32 w-full">
  <h2 class="my-20 text-6xl sm:text-4xl font-bold text-center dark:text-white">
    Next Steps
  </h2>
  <div class="w-full border-t border-gray-300">
    <ul class="w-full">
      {
        items.map((item) => (
          <li class="py-8 px-6 border-b border-gray-200 dark:text-white text-center">
            {item.text}
          </li>
        ))
      }
    </ul>
  </div>
</div>
