---
import { Image } from "astro:assets";
import LogoWhite from "../assets/LogoWhite.png";
import LogoBlack from "../assets/LogoBlack.png";
---

<a href="/" aria-label="mostAvio logo">
    <Image
        src={LogoWhite}
        alt="MOSTAVIO logo"
        class="h-7 w-auto py-1 hidden lg:block"
        loading="lazy"
    />

    <Image
        src={LogoWhite}
        alt="MOSTAVIO logo"
        class="fixed top-4 left-5 z-20 h-7 w-auto py-1 lg:hidden"
        loading="lazy"
    />

    <!-- <Image
        src={LogoBlack}
        alt="MOSTAVIO logo"
        class="h-7 w-auto py-1 dark:hidden"
        loading="lazy"
    /> -->
</a>
