---
import { Image } from "astro:assets";
import LogoWhite from "../assets/LogoWhite.png";
import LogoBlack from "../assets/LogoBlack.png";
---

<a href="/" aria-label="mostAvio logo">
    <Image
        src={LogoWhite}
        alt="MOSTAVIO logo"
        class="h-7 w-auto py-1 dark:block hidden"
        loading="lazy"
    />
    <Image
        src={LogoBlack}
        alt="MOSTAVIO logo"
        class="h-7 w-auto py-1 dark:hidden"
        loading="lazy"
    />
</a>
