---
import { Image } from "astro:assets";

import slide1 from "../assets/aircraft_slides/slide1.png";
import slide2 from "../assets/aircraft_slides/slide2.png";
import slide3 from "../assets/aircraft_slides/slide3.png";
---

<section>
    <div class="swiper container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide1}
                    alt="Carousal Image"
                    loading="lazy"
                />
            </div>
            <div class="swiper-slide">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide2}
                    alt="Carousal Image"
                    loading="lazy"
                />
            </div>
            <div class="swiper-slide h-96 w-auto">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide3}
                    alt=""
                    loading="lazy"
                />
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
    </div>
</section>

<!-- <style is:global>

</style> -->

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";
    import "swiper/css/bundle";

    export const swiperConfig = {
        modules: [Navigation, Pagination],
        loop: true,
        slidesPerView: 3,
        mousewheel: {
            forceToAxis: true,
        },
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        scrollbar: {
            el: ".swiper-scrollbar",
        },
    };

    const swiper = new Swiper(".swiper", swiperConfig);
</script>
