---
import Container from "./Container.astro";

interface FocusTextProps {
    header?: string;
    description?: string;
}

const { header, description } = Astro.props as FocusTextProps;
---

<section>
    <Container>
        <div class="relative min-h-64 my-48">
            <div class="m-auto space-y-6 md:w-8/12 lg:w-7/12">
                {
                    header && (
                        <h2 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
                            {header}
                        </h2>
                    )
                }
                {
                    description && (
                        <p class="text-center text-lg text-gray-600 dark:text-gray-300">
                            {description}
                        </p>
                    )
                }
            </div>
        </div>
    </Container>
</section>
