---

---

<div class="absolute inset-2 flex justify-between">
    <div class="flex flex-col justify-between">
        <div class="size-[4px] rounded-full bg-gray-950/30 dark:bg-white/15">
        </div>
        <div class="size-[4px] rounded-full bg-gray-950/30 dark:bg-white/15">
        </div>
    </div>
    <div class="flex flex-col justify-between">
        <div class="size-[4px] rounded-full bg-gray-950/30 dark:bg-white/15">
        </div>
        <div class="size-[4px] rounded-full bg-gray-950/30 dark:bg-white/15">
        </div>
    </div>
</div>
