---
import Container from "./Container.astro";
import { cn } from "@lib/utils";
import { button } from "@tailus/themer-button";
---

<section>
    <Container>
        <div class="relative">
            <div class="mt-6 m-auto space-y-12 md:w-6/12 lg:w-6/12">
                <h2
                    class="text-center text-4xl mb-32 font-bold text-gray-800 dark:text-white md:text-6xl"
                >
                    Stay Informed
                </h2>
                <form method="POST" id="newsletter-form" class="space-y-8">
                    <input
                        type="hidden"
                        name="access_key"
                        value="7deabec1-12ea-42ee-82e8-5798e68e19ad"
                    />
                    <div class="space-y-4 text-center">
                        <label
                            for="email"
                            class="text-gray-600 dark:text-gray-300"
                        >
                            Subscribe to our newsletter.
                        </label>
                        <div class="relative flex items-center">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                autocomplete="email"
                                placeholder="Email"
                                class="focus:outline-none block w-full rounded-full placeholder-gray-500 bg-gray-100 dark:bg-gray-800 dark:border-gray-600 pl-12 pr-4 h-12 text-gray-600 transition duration-300 invalid:ring-red-400 focus:ring-2 focus:ring-primary"
                                required
                            />
                            <div class="absolute right-1">
                                <button
                                    type="submit"
                                    class={cn(button.primary.lg, "relative")}
                                >
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="newsletter-message" class="text-center mt-4"></div>
            </div>
        </div>
        <p class="mt-9 text-sm text-gray-500 dark:text-gray-400 text-center">
            By submitting this form, I acknowledge and consent to MOSTAVIO
            collecting and processing my personal information as outlined in the
            MOSTAVIO Privacy Policy. I understand that my data will be used in
            accordance with applicable data protection laws.
        </p>
    </Container>
</section>

<script is:inline>
    const form = document.getElementById("newsletter-form");
    const result = document.getElementById("newsletter-message");

    form.addEventListener("submit", function (e) {
        const formData = new FormData(form);
        e.preventDefault();

        const object = Object.fromEntries(formData);

        const json = JSON.stringify({
            ...object,
            subject: "Newsletter Subscription - MOSTAVIO",
        });

        result.innerHTML = "Please wait...";

        fetch("https://api.web3forms.com/submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json",
            },
            body: json,
        })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = json.message;
                    result.classList.add("text-green-500");
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                    result.classList.add("text-red-500");
                }
            })
            .catch((error) => {
                console.log(error);
                result.innerHTML = "Something went wrong!";
                result.classList.add("text-red-500");
            })
            .then(function () {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 3000);
            });
    });
</script>
