---
import { Image } from "astro:assets";
interface VideoBlockProps {
    videoSrc?: string;
    playbackRate?: number;
    placeholderImage?: ImageMetadata;
}
const { videoSrc, placeholderImage, playbackRate } =
    Astro.props as VideoBlockProps;
---

<section class="relative overflow-hidden scroll-mt-24 bg-gradient-default">
    {
        placeholderImage ? (
            <Image
                class="w-full h-[95vh] object-cover"
                src={placeholderImage}
                alt="MOSTAVIO HERO"
            />
        ) : (
            <video
                id="carouselVideo"
                class="w-full h-[95vh] object-cover transition-opacity duration-500 opacity-100"
                autoplay
                muted
                loop
                data-playback-rate={playbackRate}
                playsinline
                src={videoSrc}
                transition:persist
            />
        )
    }
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const video = document.getElementById(
                "carouselVideo",
            ) as HTMLVideoElement;
            const playbackRate = Number(
                video?.getAttribute("data-playback-rate"),
            );
            if (video && playbackRate) {
                video.playbackRate = playbackRate || 1;
            }
        });
    </script>
</section>
