---
export interface Props {
    headline: string;
    className?: string;
}

const { headline, className = "" } = Astro.props;
---

<h1
    class={`text-6xl md:text-7xl font-extrabold leading-tight bg-gradient-to-b from-white via-gray-100 to-black bg-clip-text text-transparent ${className}`}
>
    {headline}
</h1>
