@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg: #000000;
    --color-text: #FFFFFF;
}

@layer base {
    :root {
        --color-bg: #000000;
        --color-text: #FFFFFF;
        --color-skytech: #0077FF;
        --color-orange: #FF8914;
    }

    .dark {
        --color-bg: #000000;
        --color-text: #FFFFFF;
    }
}