---
import BaseHead from "@components/BaseHead.astro";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import Analytics from "@components/Analytics.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth dark">
    <head>
        <BaseHead />
        <Analytics />
    </head>
    <body class="overflow-x-hidden bg-white dark:bg-gray-950 dark:text-white">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
